:root {
  --color-1: rgb(255, 255, 255);
  --color-2: rgba(255, 255, 255, 0.90);
  --color-3: rgba(255, 255, 255, 0.80);
  --color-4: rgba(255, 255, 255, 0.50);
}

* {
  margin: 0;
  overflow-x: hidden;
  font-family: "Jost";
  color: var(--color-1);
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: black;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40"><circle cx="20" cy="20" r="15" fill="white" fill-opacity="0.6"/></svg>') 30 30, auto;
}

nav {
  position: fixed;
  bottom: 2dvw;
  right: 2dvw;
  height: 4dvh;
  width: fit-content;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1dvw;
}

nav div {
  height: 4dvh;
  width: 4dvh;
  backdrop-filter: blur(5px);
  cursor: pointer;
  z-index: 2;
  background-size: contain;
}

#audio-control {
  background-image: url(lib/sound-off.png);
}

#home-control {
  background-image: url(lib/arrow-up.svg);
}

.scroll-animation {
  position: fixed;
  bottom: 2dvw;
  height: 3dvh;
  width: 100dvw;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 2dvh;
  color: var(--color-1);
  text-align: center;
  z-index: 1;
  gap: 1dvw;
  animation: scroll 2s linear infinite;
}

.sky {
  height: 100dvh;
  width: 100dvw;
  background-image: url("lib/sky.jpg");
  background-position: bottom;
  background-origin: border-box;
  background-size: cover;
}
.sky-content {
  height: 100dvh;
  width: 100dvw;
}
h1 {
  position: fixed;
  bottom: 35dvh;
  left: 5dvh;
  height: fit-content;
  width: 60dvw;
  font-size: 10dvh;
  font-family: "Eczar";
  color: var(--color-1);
  text-align: left;
  line-height: 12dvh;
}

h2{
  position: absolute;
  top: 45dvh;
  left: 28dvw;
  font-family: "Eczar";
  font-size: 2.8rem;
  width: 55dvw;
  height: fit-content;
  color : var(--color-3);
  letter-spacing: 1px;
}


h3 {
  font-family: "Eczar";
  font-size: 2.2rem;
  text-align: baseline;
  opacity: 90%;
  letter-spacing: 1px;
}

.interactive-circle {
  display: none;
}

.line {
  position: fixed;
  top: 100dvh;
  left: 1dvw;
  height: 800vh;
  z-index: 1;
}
header {
  height: 100dvh;
  width: 100dvw;
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%),
    url("lib/zero.jpg");
  background-size: cover;
  color: var(--color-1);
  position: relative;
  background-position: center;
}

.header-logos {
  position: absolute;
  top: 3dvh;
  right: 3dvh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1dvh 1dvw;
  gap: 3dvh;
  
}

.header-logos > div {
  width: auto;
  display: flex;
  justify-content: center;
}

.header-logos img {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
}
section {
  height: 100dvh;
  width: 200dvw;
  display: flex;
}
.level {
  height: 100dvh;
  width: 100dvw;
  flex-shrink: 0;
  background-size: cover;
}
.text-box {
  position: absolute;
  top: 10dvh;
  right: 12dvw;
  max-width: 35dvw;
  background: rgba(255, 255, 255, 0.104);
  color: var(--color-1);
  padding: 1em;
  border-radius: 0.425rem;
  font-size: 1rem;
  text-align: baseline;
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-4);
}

.text-content {
  color: var(--color-3);
  font-size: 1.1rem;
  text-align: baseline;
}

.transition {
  background-size: contain;
  background-position: center;
  width: 100dvw;
  height: 30dvh;
  background-color: rgb(9, 9, 9);
}

#one-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/one-a.png");
  background-position: right;
}
#one-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/one-b.png");
  background-origin: left;
}
#two-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/two-a.png");
    background-position: right;
}
#two-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/two-b.png");
}
#three-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/three-a.png");
    background-position: right;
}
#three-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/three-b.png");
}
#four-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/four-a.png");
    background-position: right;
}
#four-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/four-b.png");
}
#five-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/five-a.png");
    background-position: right;
}
#five-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/five-b.png");
}
#six-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/six-a.jpg");
    background-position: right;
}
#six-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/six-b.jpg");
    background-position: right;
}
#seven-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/seven-a.jpg");
    background-position: right;
}
#seven-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/seven-b.jpg");
}
#eight-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/eight-a.jpg");
    background-position: right;
}
#eight-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/eight-b.jpg");
}
#nine-a {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/nine-a.png");
    background-position: right;
}
#nine-b {
  background-image: linear-gradient(
      rgba(9, 9, 9, 0) 80%,
      rgba(9, 9, 9, 0.9) 100%
    ),
    linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/nine-b.png");
}
.interactive-circle {
  width: 10dvh;
  height: 10dvh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
  animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  transition: all 0.5s;
  overflow: hidden;
}
.circle-content {
  display: flex;
  align-items: center;
  gap: 2dvw; /* Space between image and text */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  max-width: 120%; 
  padding: 0dvh;
}
.circle-image {
  width: 16dvh;
  height: auto;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-left : 1dvw;
}

#hanub {
  height: 9dvh;
  width: auto;
}

.interactive-circle:hover .circle-content {
  visibility: visible;
  opacity: 1;
}

.interactive-circle:hover .circle-text {
  color: var(--color-1);
}

.interactive-circle:hover .circle-image {
  opacity: 1;
}

.circle-text {
  font-size: 16px;
  white-space: normal; 
  max-width: 20dvw; /* Adjust to fit properly */
  color: rgba(255, 255, 255, 0);
  transition: color 0.1s ease 0.5s;
  line-height: 1.4; /* Improve readability */
}

.circle-title {
  color: var(--color-2);
  margin: none;
  padding-bottom: 1.5dvh;
  
}

.inner-circle {
  width: 5dvh;
  height: 5dvh;
  position: absolute;
  border-radius: 50px;
  background-color: var(--color-2);
  animation: pulse-dot 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

#circle-zero{
  top : 20dvh;
  left: 47.3dvw;
}
#circle-one-one {
  top: 15dvh;
  left: 12dvw;
  animation-delay: 0.2s;
  animation-duration: 2s;
}

#circle-one-two {
  top: 60dvh;
  left: 40dvw;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
#circle-two-one {
  top: 10dvh;
  left: 14dvw;
  animation-delay: 0.8s;
  animation-duration: 2s;
}
#circle-two-two {
  top: 55dvh;
  left: 39dvw;
  animation-delay: 1s;
  animation-duration: 2s;
}
#circle-three-one {
  top: 10dvh;
  left: 10dvw;
  animation-delay: 1.2s;
  animation-duration: 2s;
}
#circle-three-two {
  top: 50dvh;
  left: 41dvw;
  animation-delay: 1.4s;
  animation-duration: 2s;
}
#circle-four-one {
  top: 70dvh;
  left: 55dvw;
  animation-delay: 1.6s;
  animation-duration: 2s;
}
#circle-four-two {
  top: 10dvh;
  left: 12dvw;
  animation-delay: 1.8s;
  animation-duration: 2s;
}
#circle-five-one {
  top: 10dvh;
  left: 14dvw;
  animation-delay: 2s;
  animation-duration: 2s;
}
#circle-five-two {
  top: 60dvh;
  left: 50dvw;
  animation-delay: 2.2s;
  animation-duration: 2s;
}
#circle-six-one {
  top: 10dvh;
  left: 14dvw;
  animation-delay: 2.4s;
  animation-duration: 2s;
}
#circle-six-two {
  top: 60dvh;
  left: 40dvw;
  animation-delay: 2.6s;
  animation-duration: 2s;
}

footer {
  display: flex;
  gap: 10dvw;
  align-items: center; 
  flex-direction: column;
  width: 100dvw;
  height: 160dvh;
  background-image: linear-gradient(rgba(9, 9, 9, 0.9) 0%, rgba(9, 9, 9, 0) 20%),
    url("lib/sky.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.final {
  height: fit-content;
  max-width: 50dvw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 2dvw;
  border-radius: 0.425rem;
  font-size: 1rem;
  border: 1px solid var(--color-2);
  display: flex;
  flex-direction: column; 
  gap: 5dvh;
}

.final-button {
  width: fit-content;
  margin: auto;
  animation: pulse 2s infinite;
}

button {
  background: transparent;
  padding: 1.5dvh 2dvw;
  border: 2px solid var(--color-3);
  color: var(--color-1);
  font-family: Eczar;
  font-size: 1dvw;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 4px;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background : var(--color-4);
  backdrop-filter: blur(1%);
  cursor: pointer;
}

.line-horizontal {
  margin-top: 30dvh;
  height: 10dvh;
  width: 80dvw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line-horizontal img {
  height: 9dvh;
  width: 9dvh;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100dvw;
  height: 50dvh;
  background-image: linear-gradient(rgba(9, 9, 9, 0) 30%, rgba(9, 9, 9, 0.9) 50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.556);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    bottom: 5dvh;
  }
  30%, 70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  h1 {
    position: absolute;
    top: 80dvh;
    left: 20dvw;
    height: fit-content;
    width: 60dvw;
    text-align: top;
    font-size: 18px;
  }

  h2 {
    font-size: 1rem;
    text-align: baseline;
  }
  .text-box {
    right: 15dvh;
    min-width: 50dvw;
  }
  h3 {
    font-size: 1rem;
    text-align: baseline;
  }
  .text-content {
    font-size: 1rem;
    text-align: baseline;
  }
  .interactive-circle {
    width: 0;
    height: 0;
    display: none;
  }
  .circle-content {
    display: none;
  }
  .circle-image {
    display: none;
  }
  .circle-text {
    display: none;
  }
  .inner-circle {
    display: none;
  }
  .line {
    display: none;
  }
}